<div class="container">
  <h1 class="text-center" style="color: #3f51b5">Définissez votre nouveau mot de passe</h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <form class="d-flex flex-column" [formGroup]="formResetPassword" >
        <mat-form-field color="primary">
          <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
          <mat-error *ngIf="formResetPassword.get('password').hasError('pattern')">Le mot de passe doit contenir 1 Majuscule, 1 Minuscule et 1 Chiffre</mat-error>
        </mat-form-field>
        <mat-form-field color="primary">
          <input matInput type="password" placeholder="Confirmer le mot de passe" formControlName="passwordConfirm" required>
          <mat-error *ngIf="formResetPassword.get('passwordConfirm').errors && formResetPassword.get('passwordConfirm').errors.ConfirmPassword && formResetPassword.get('passwordConfirm') != null">Le mot de passe de confirmation ne correspond pas</mat-error>
        </mat-form-field>
      </form>

      <button mat-stroked-button color="primary" class="btn-block" (click)="onSubmit()">Modifier mon mot de passe</button>
    </div>
  </div>
</div>
