<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top h-10" style="height: 8vh!important;">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/home']">Mangathèque</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': selectedItem === 0}" (click)="selectedItem = 0">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">Accueil</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': selectedItem === 1}" (click)="selectedItem = 1">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/manga']"> Manga </a>
      </li>
      <li class="nav-item" [ngClass]="{'active': selectedItem === 2}" (click)="selectedItem = 2">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/lecture-home']"> Lecture en ligne </a>
      </li>
      <li class="nav-item" (click)="openDialog(); selectedItem = 3" *ngIf="!user" [ngClass]="{'active': selectedItem === 3}">
        <a class="nav-link waves-light" mdbWavesEffect> Connexion</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="user" [ngClass]="{'active': selectedItem === 3}" (click)="selectedItem = 3">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
          Mon Compte<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" [routerLink]="['/monProfil']" >Mon Profil</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" [routerLink]="['/maBibiliotheque']">Ma Bibliothèque</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mes favoris</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()" >Déconnexion</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="d-flex flex-column mr-5 mt-lg-2" [formGroup]="formSearch">
      <!-- <div class="md-form my-0">
           <input class="form-control mr-sm-2" type="text" placeholder="Search">
         </div>-->
        <mat-form-field class="search-form-field" appearance="outline" color="white">
          <mat-label class="text-white">Rechercher</mat-label>
          <input matInput type="text" formControlName="search" [(ngModel)]="value" (input)="searchBar()">
          <button *ngIf="formSearch.value.search" class="d-inline-block" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''; search= null">
            <mat-icon>close</mat-icon>
          </button>
          <button  matSuffix mat-icon-button aria-label="search" class="d-inline-block" (click)="searchBar()">
            <mat-icon class="text-white">search</mat-icon>
          </button>

        </mat-form-field>

      <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchBar()">Search</button>-->

      <!--    <ul *ngIf="search != null" class="search_suggestion">
              <li *ngFor="let detailSearch of search">
                  <div class="row">
                      <div class="col-4">
                          <img src="http://127.0.0.1:8000/images/{{detailSearch.image[0]}}" class="img-fluid" alt="image manga">
                      </div>
                      <div class="col-8">
                          <h3> {{detailSearch.name}}</h3>
                          <p>{{detailSearch.presentation.substring(0,115)}}</p>
                      </div>
                  </div>
              </li>
          </ul>-->

      <div class="list-group search_suggestion marginLeftByScreen" *ngIf="searchDataActive">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *cdkVirtualFor="let detailSearch of search" class="example-item">
            <div class="d-flex list-group-item list-group-item-action flex-column align-items-start" (click)="RedirectToMangaSearch(detailSearch.id)" style="cursor: pointer">
              <div class="d-flex">
                <img src="http://127.0.0.1:8000/images/{{detailSearch.image[0]}}" class="img-fluid" alt="image manga">
                <div class="d-flex flex-column justify-content-center mx-2">
                  <h2 class="mb-1 text-center">{{detailSearch.name}} <small class="d-none d-md-inline">( {{detailSearch.type}} )</small></h2>
                  <p class="d-none d-sm-block">{{detailSearch.presentation.substring(0,115)}} [...]</p>
                </div>
              </div>

            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="list-group search_suggestion"  *ngIf="searchDataActive == false" >
        <a href="#" class="d-flex list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex">
            <h2>Aucun Résultat</h2>
          </div>
        </a>
      </div>
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<header style="{{this.imageHeaderSelected}} " class="d-none d-md-flex">
  <div class="h-100 w-100 row align-items-end justify-content-center">
    <div class="text-header d-flex flex-column mb-5">
      <h1 class="text-center myColorBlue mt-3" ><strong class="mx-2">Votre site présentant les mangas et animes </strong></h1>
      <div class="d-flex justify-content-center mb-3">
        <button mat-flat-button color="primary" class="mr-3"> Lecture en ligne </button>
        <button mat-flat-button color="primary" [routerLink]="['manga']">Chercher un manga</button>
      </div>

    </div>
  </div>
</header>
<header class="d-md-none h-auto">

  <br class="mt-5">
</header>
