h5{
  font-size: 1.2em;
  line-height: 1.2em;
}
.avatar:hover{
  border: 5px solid #3f51b5;
}
.avatarSelected{
  border: 5px solid #3f51b5;
}
drag-scroll {
  height: 10em;
  width: 100%;

}

.dragScrollImg{
 /* height: 10em;
  width: 40%;*/
  max-height: 10em;
}
.dragScrollImg:hover{
  /* height: 10em;
   width: 40%;*/
  border: 5px solid rgba(63, 81, 181, 0.49);
  max-height: 10em;
}
