<footer class="container-fluid mt-3">
  <div class="row  border-light border-bottom">
    <div class="col-12 col-md-4">
      <h3 class="text-white">MangaClypédie</h3>
      <p class="text-light">Ce site à été réalisé par un fan de manga et de développement web.En combinant deux de mes passions j'espère pouvoir vous proposez un site attractif .</p>
    </div>
  </div>
  <div class="row justify-content-between">
    <h3>Logo Site</h3>
    <ul class="d-flex text-white mt-2" style="list-style-type: none">
      <li> About</li>
      <li class="ml-3"> Write</li>
      <li class="ml-3"> Help</li>
      <li class="mx-3"> Legal</li>
    </ul>
  </div>
</footer>

