<div class="container">
  <div class="row" *ngIf="isLoading">
    chargement en cours
  </div>
</div>

<div class="container bg-light" *ngIf="!isLoading">
  <h1 class="myColorBlue text-center">{{manga.name}}</h1>
  <div class="row">
    <div class="col-md-4 col-12">
      <img src="http://127.0.0.1:8000/images/{{manga.image[0]}}" class="d-block text-center" alt="image manga" >
    </div>
    <div class="col-md-8 col-12 d-flex align-items-center">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row"> Type:</th>
          <td [routerLink]="['/manga']" [queryParams]="{type:manga.type}">
            <button mat-raised-button color="primary">{{manga.type}}</button>
          </td>
        </tr>
        <tr>
          <th scope="row"> Style:</th>
          <td [routerLink]="['/manga']" [queryParams]="{style:manga.style}">
            <button mat-raised-button color="primary">{{manga.style}}</button>
          </td>
        </tr>
        <tr>
          <th scope="row"> Genre:</th>
          <td>
            <a *ngFor="let genreDetail of manga.genre" [routerLink]="['/manga']" [queryParams]="{genre:genreDetail}" class="myColorBlue"><u>{{genreDetail}}</u> - </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h2 class="myColorBlue mt-2 ml-5"> Synopsis</h2>
    <p class="mt-2 ml-2"> {{manga.synopsis}}</p>
    <h2 class="myColorBlue mt-2 ml-5">Présentation </h2>
    <p class="mt-2 ml-2"> {{manga.presentation}}</p>
    <table class="table">
      <tbody>
        <tr *ngIf="manga.author != ' '">
          <th scope="row" class="myColorBlue"> Auteur:</th>
          <td> {{manga.author}}</td>
        </tr>
        <tr *ngIf="manga.scenariste != ' '">
          <th scope="row" class="myColorBlue"> Scénariste :</th>
          <td> {{manga.scenariste}}</td>
        </tr>
        <tr *ngIf="manga.prepublierChez != ' '">
          <th scope="row" class="myColorBlue"> Prépublié chez :</th>
          <td> {{manga.prepublierChez}}</td>
        </tr>
        <tr *ngIf="manga.dateDebut">
          <th scope="row" class="myColorBlue"> Date de début:</th>
          <td> {{manga.dateDebut|date}} </td>
        </tr>
        <tr *ngIf="manga.dateFin">
          <th scope="row" class="myColorBlue"> Date de fin:</th>
          <td> {{manga.dateFin|date}} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="scan.length != 0">
    <h2 class="myColorBlue mt-2 ml-5"> Liste des scan</h2>
    <!--<ul>
        <li *ngFor="let scanTitle of scan " [routerLink]="['/read-scan',scanTitle.id, manga.nameDirectoryOfScan, scanTitle.numero]">{{manga.name}} {{scanTitle.numero}} : {{scanTitle.titre}} / {{scanTitle.dateAjout|date}}</li>
    </ul>-->
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let scanTitle of scan" [value]="scanTitle" [routerLink]="['/read-scan',scanTitle.id, manga.nameDirectoryOfScan, scanTitle.numero]">
        {{manga.name}} {{scanTitle.numero}} : {{scanTitle.titre}} / {{scanTitle.dateAjout|date}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

